body {
  text-align: left;
  font-family: Open Sans, sans-serif;
  background: #FFFAFA;
  color: #192A51;
  margin: 0px 0px 30px 0px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  font-family: 'Lora', sans-serif;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  font-family: 'Lora', sans-serif;
  color: #192A51;
}

.titulo-infancia {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  font-family: 'Lora', sans-serif;
  color: #4B2142;
}

.titulo-juventude {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  font-family: 'Lora', sans-serif;
  color: #74226C;
}

.titulo-vida-adulta {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  font-family: 'Lora', sans-serif;
  color: #816E94;
}

section {
  width: 60%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 22px;
  font-style: italic;
}

h4 {
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

img {
  width: 100%;
}

ul {
  text-align: center;
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

a {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #74226C;
  font-weight: 700;
}

.principal {
  text-align: center;
  background-color: #D5C6E0;
  height: 60px;
  max-width: 85%;
  margin: 0 auto;
}

.principal a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  font-family: 'Lora', sans-serif;
  font-size: 25px;
  color: #192A51;
}

.principal li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 150px;
}

form {
  text-align: center;
}

button {
  background-color: #816E94;
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
}