body {
  background: #F5E6E8;
  margin: 0px 0px 30px 0px;
}

h1 {
  color: #192A51;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-size: 60px;
  font-weight: normal;
}

.main {
  background-color: #D5C6E0;
  height: 60px;
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
}

.main a {
  color: #192A51;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lora', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.main li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 150px;
}

h2 {
  color: #192A51;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-size: 40px;
  font-weight: normal;
}

p {
  color: #192A51;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.childhood-title {
  color: #192A51;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.youth-title {
  color: #192A51;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.adulthood-title {
  color: #192A51;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

section {
  width: 60%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

img {
  width: 100%;
}

h3 {
  color: #192A51;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: italic;
}

h4 {
  color: #192A51;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: italic;
}

ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
  text-align: center;
}

a {
  color: #967AA1;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
}

form {
  color: #192A51;
  text-align: center;
  font-family: 'Lora', sans-serif;
  font-size: 15px;
}

button {
  background-color: #967AA1;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 20px;
  color: #192A51;
  font-family: 'Lora', sans-serif;
  font-size: 15px;
}